<ion-navbar *navbar>
  <ion-title>Destinations</ion-title>
</ion-navbar>

<ion-content>
  <button primary outline full menuToggle>
    View menu
  </button>
  <ion-card *ngFor="let planet of planets" (click)="itemTapped($event, planet)">
  <img src="http://placehold.it/200x150?text={{planet.name}}+image">
  <ion-card-content>
    <ion-card-title>
      {{planet.name}}
    </ion-card-title>
    <p>
      A {{planet.climate}} planet, make {{planet.name}} your next travel destination!
    </p>
  </ion-card-content>
  </ion-card>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
